/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i';
/* FORM STYLE*/
label,
input,
textarea{
	display: block;
	font-family: 'latotlight', arial, helvetica, sans-serif;
	color:#412db9;
}
input,
textarea{
	padding: 7px 10px;
	width: 100%;
	box-sizing:border-box;
	font-family: 'latolight', arial, helvetica, sans-serif;
	font-size: 1em;	
	margin: .4em auto;
}

label input,
label{
	margin-bottom: 7px;
	font-family: 'latolight', arial, helvetica, sans-serif;
}

input[type="submit"], button {
    width: auto;
    font-family: 'latolight', arial, helvetica, sans-serif;
    color: #f8c822;
    background-color: #5435b9;
    cursor: pointer;
    font-size: 1.2em;
    border: #ccc;
    margin: 1em 0 0 0;
}

/* Components */

.contact-wrapper{
	width: 30em;
	max-width: 100%;
	margin: 5em auto;
	box-sizing:border-box;
	color: #413E72;
	padding: 1em 1em 2em 1em;
	font-family: 'latolight', arial, helvetica, sans-serif;
	font-style: italic;
	font-weight: lighter;
	-webkit-box-shadow: 24px 22px 54px -30px rgba(85,88,105,0.56);
	-moz-box-shadow: 24px 22px 54px -30px rgba(85,88,105,0.56);
	box-shadow: 24px 22px 54px -30px rgba(85,88,105,0.56);
}
.contact-wrapper h1{
	font-size:1.1rem;
	color:#412db9;
	padding:0px 0px 1% 0px;
}
.contact-wrapper p{
	color: #412db9;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bolder;
	
}
.contact-wrapper a{
	float: right;
	color:#999;
	font-family: 'latolight', sans-serif;
	
}
.contact-wrapper p#thanks{
	color:#25d83a;
	padding-top:7px;
}
.required{
	font-size: .8em;
	color: #A9A9A9;
	font-weight: lighter;
}

/*
.error{
	color:#FF0072;
}
.warning{
	padding-top:3px;
}
*/

